html, body {
    height: 100%;
    margin: 0;
}

body {
    background: rgb(230, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 100px auto;
    text-align: center;
}
label {
    margin: 50px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 64px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 41, 68);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  border: 3px solid white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: 10px;
  bottom: 18px;
  background-color: rgb(124, 124, 124);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(45, 157, 248);
}

input:checked + .slider:before {
    transform: translateX(60px);
    background: yellow;
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round::before {
    border-radius: 35px;
    width: 33%;
    height: 63%;
    border-radius: 50%;
}

